<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>

  <body>
    <h1>Pig Latinizer!</h1>
    <h3>You entered <%= @user_phrase%>  <h3>
    <h3>which in pig latin, is <%= @textpiglatin %> <h3>
  </body>

</html>